---
layout: default
heroImage: /assets/img/dungeon-cover.png
---
<div class="page-header" data-parallax="true" style="background-image: url('{{ page.heroImage | relative_url }}');">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <img src="{{ site.data.settings.primaryLogo | relative_url }}" class="col-8" />
    </div>
  </div>
</div>
<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title">Learn more about the<br/>Manor of Dungeon in Kent</h2>
        </div>
      </div>
      <br/>
      <br/>
      <div class="row">
        {% assign callouts=site.data.callouts %}
        {% for callout in callouts.items %}
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              {% if callout.icon_brand %}
              <i class="fab {{ callout.icon }} fa"></i>
              {% else %}
              <i class="fas {{ callout.icon }} fa"></i>
              {% endif %}
            </div>
            <div class="description">
              <h5 class="info-title">{{ callout.title }}</h4>
              <p class="description">{{ callout.subtitle }}</p>
              <a href="{{ callout.call_to_action_link | relative_url }}" class="btn btn-link btn-danger">See more</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
