---
layout: page
---
<div class="row">
  <div class="col-md-4 col-sm-6">
    <div id="card" class="ml-auto mr-auto">
      <div class="card-image text-center">
        {% if page.image %}
        <img class="img w-100" src="{{ page.image | relative_url }}" />
        {% else %}
        <i class="fa-solid fa-{{ page.type }} fa-10x"></i>
        {% endif %}
      </div>
      <div class="card-body text-left mt-5">
        <div class="card-description"><h6>{{ page.description | markdownify | remove: '<p>' | remove: '</p>' }}</h6></div>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-sm-6">
    <h2>{{ page.title }}</h2>
    {% assign tags = page.tags | sort %}
    {% for tag in tags %}
    <span class="badge badge-pill badge-default">{{ tag }}</span>
    {% endfor %}
    <p></p>
    <hr/>
    <p>{{ content }}</p>
    <div class="row">
      <div class="col-md-7 offset-md-5 col-sm-8">
        <a href="{{ page.file_path | relative_url }}" class="btn-link">
          <button class="btn btn-danger btn-block btn-round">Download &nbsp;<i class="fa fa-chevron-down"></i></button>
        </a>
      </div>
    </div>
  </div>
</div>
